.container
  .about
    .about-img: img(src="static/img/about-us.png" alt="team")
    .about-content
      h4.about-content__title About us
      p.about-content__text We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class
      button.about-content__button Learn more
        img(src="static/img/arrow-right--yellow.png")