.container
  .quality
    h2.quality__heading wooder – is quality
    p.quality__text We create unique design objects made of rare wood, specially under the order. Look at the short video about our work.
  .advantages
    .advantage
      .advantage__gif: img(src="static/img/advantage-1.png", alt="advantage")
      .advantage__title Innovative Design
    .advantage
      .advantage__gif: img(src="static/img/advantage-2.png", alt="advantage")
      .advantage__title High-level Skills
    .advantage
      .advantage__gif: img(src="static/img/advantage-3.png", alt="advantage")
      .advantage__title Quality Products