section#sectionBanner
  .banner-wrapper
    .header-menu-adaptive-wrapper#menuAdaptive
      ul.header-menu-adaptive
        .header-menu-adaptive-close#menuAdaptiveClose
          .header-menu-adaptive-close__line
          .header-menu-adaptive-close__line
        li: a(href="").header-menu-adaptive__link first link
        li: a(href="").header-menu-adaptive__link second link
        li: a(href="").header-menu-adaptive__link third link
        li: a(href="").header-menu-adaptive__link forth link
    .container.position-relative
      .page-count
          .page-count__number#dotNumber 01
          .page-count__dots
            .page-count__dot.page-count__dot--active#dotOne
            .page-count__dot#dotTwo
            .page-count__dot#dotThree
            .page-count__dot#dotFour
      .banner
        h1.banner__heading Wooder
        button.banner__button Learn more
          img(src="static/img/arrow-right.png")
        .scroll
          .scroll__mouse
            .scroll__wheel
          .scroll__arrow: img(src="static/img/banner-arrow-down.png")
          .scroll__description scroll
        .banner__subtitle Furniture &#38; Decor
    .banner-share
      .socials#socials
        .socials-icon: i.fab.fa-vk.socials-icon__item
        .socials-icon: i.fab.fa-vk.socials-icon__item
        .socials-icon: i.fab.fa-vk.socials-icon__item
        .socials-icon: i.fab.fa-vk.socials-icon__item
      button.banner-share__button: img(src="static/img/share.png")
    
      