.design-wrapper
  .design
    .container
      h4.design__title we Do the design of any complexity
      p.design__text This is a team of professionals that make the furniture and wood décor high standard. Creating modern designs. Adhering to the global quality standards. And we are doing work with love.
      button.design__button watch video 