.footer-wrapper
  .container
    footer.footer#sectionFooter
      .footer-rights © 2016 WOODER
      .logo WOODER
      .designed-by Designed by 
        span.designed-by__author Viacheslav Olianishyn