header#header
    nav.header-navigation
      .menu-hamburger#menuHamburger
        .menu-hamburger__line
        .menu-hamburger__line
        .menu-hamburger__line
      .row(style="display: flex")
        .logo Wooder
        ul.header-menu
          li: a.header-menu__link(href='#') Home
          li: a.header-menu__link(href='#') Products
          li: a.header-menu__link(href='#') About
      .menu-side
        .menu-side__information
        .menu-side__language 
          .menu-side__active EN
          .menu-side__language-drop
            .menu-side__choise RU
            .menu-side__choise UA
