section#product-one
  .container
    .product
      .product-description
        .product-description__heading Furniture
        .product-description__text Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood
        .product-description__button Learn more
          img(src="static/img/arrow-right--yellow.png")
      .product-img
        img(src="static/img/product-1.png")
      .product-number 01
        span.product-number__dot .