section#product-two
  .container
    .product
      .product-img
        img(src="static/img/product-2.png")
      .product-description.product-description--right
        .product-description__heading.product-description__heading--right Decor
        .product-description__text.product-description__text--right.product-description__text--right We make all types of wooden decor as per design given by Architect,Interior designer, contractor which is suitable your premises. 
        .product-description__button.product-description__button--right Learn more
          img(src="static/img/arrow-right--yellow.png")
      .product-number.product-number--two 02
        span.product-number__dot .