html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="static/css/main.css")
    title Wooder
  body
   include blocks/header
   section#sectionBanner
    include blocks/banner
   section#sectionProductOne
    include blocks/product
   section#sectionProductTwo
    include blocks/product-2
   section#sectionAdvantages
    include blocks/advantages
   section#sectionDesign
    include blocks/design
   section#sectionAbout
    include blocks/about-us
   include blocks/footer
   script(src="static/libs/libs.min.js")
   script(src="static/js/main.js")
    












